.header {
    background-color: #222;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $header-height;
    }

    &__logo-img {
        max-width: 60px;
        max-height: 60px;
        color: #fff;
        transition: 0.3s;

        &:hover {
            color:#c94b4b;
        }
    }

    &__navigation {

    }

    &__list {
        display: flex;
        gap: 30px;
        align-items: center;
    }

    &__item {
    }

    &__link {
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
        transition: 0.3s;

        &:hover {
            color: #c94b4b;
        }
    }


}

.hamburger {
    display: none;
}

@media screen and (max-width: 575px) {

    .hamburger {
        display: flex;
    }

    .header {
        position: relative;

        &__navigation {
            z-index: 100;
            display: none;

            &.header__navigation-active {
                display: flex;
            }
        }

        &__list {
            background-color: cadetblue;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: $header-height;
            left: 0;
            gap: 30px;
            height: $header-height;
            align-items: center;
            background-color: cadetblue;
            width: 100vw;
            height: calc(100vh - $header-height);
            align-items: center;
            justify-content: center;

        }
    }
    
}

