<div class="build-info">
    <h2 class="build-info__title">Інформація про будинок</h2>
    <ul class="build-info__list">
        <li class="build-info__class">
            <div>            
                <strong>Адреса</strong>
                <i id="adress">Незалежності 7</i>
            </div>
            <div>            
                <strong>кіл-ть пов.</strong>
                <i id="floor">9</i>
            </div>
            <div>            
                <strong>кіл-ть кв.</strong>
                <i id="flat">24</i>
            </div>
        </li>
    </ul>
</div>