<header class="header">
    <div class="container">
        <nav class="header__navigation">
            <ul class="header__list">
                <li class="header__item">
                    <a class="header__link" href="#">Genpla</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="#">Build</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="#">Floor</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="#">Flat</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

